
.circular-image {
    border-radius: 50%;
    width: 275px;
    height: 275px;
    border: 8px solid #0C0F15;
    display: block;
    float: left;
    margin-left: 7px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

.card-title {
    flex: 1;
}

.card-text {
    font-size: 15px;
    margin-right: 18px;
}

.card-box {
    width: 50%; 
    margin: 30px auto;  
    padding: 20px;
    border-radius: 10px;  
     background-color: #11141C;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 30px); 
    margin-top: 100px;
    position: relative;
    text-align: left;
}