
body {
    font-family: "Poppins";
    font-size: normal;
}


.box-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;  
    font-weight: bold;
}

.box-text {
    font-size: 16px;
    line-height: 1.5;  
    color: white;
    text-decoration: none;
}

.box {
    width: 50%; 
    margin: 10px auto;  
    padding: 20px;
    border-radius: 10px;  
     background-color: #11141C;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    margin-top: 5px;
    position: relative;
    text-align: left;
}



.footer {
    width: 500px;
    margin: 30px auto;
    text-align: center; 
    color: white;
    font-size: 14px;
    bottom: 0;
}



.title-text-box {
    padding: 5px;
    width: 700px;
    margin: auto;
    text-align: center; 
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
}


.gicus-box {
    width: 50%; 
    margin: 10px auto;  
    margin-bottom: 50px;
}

.gray-icon {
    color: #45475A;
    margin-right: 5px;
    font-size: 16px;
}