<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <title>Alecks - About Me</title>
</head>
<body style="background-color: #0A0C10;"></body>
<body>

    {{ navigation | safe }}

      <div class="heading">
        <h1 class="title-text-box">About Me</h1>
    </div>

    <div class="box">
        <h1 class="box-title">Facts About Me</h1>
        <p class="box-text">
            <ul>
                <li>Music is one of my passions, I enjoy it and it helps me work better</li>
                <li>My internet is costly due to the kind of work I do ($123 a month)</li>
                <li>I'm vey experienced with networking, programming and managing linux servers</li>
                <li>I like to think of myself who understands computers very easily when I get to play around with stuff myself</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Basic Computer Experience</h1>
        <p class="box-text">
            <ul>
                <li>Deploying windows 10/11 (Very experienced)</li>
                <li>Dual booting Linux & Windows (Linux Mint & Ubuntu)</li>
                <li>Deploying windows and Linux virtual machines</li>
                <li>Working with network locations and network drives</li>
                <li>Configuring settings on my home router (Asus RT-AX55), port forwarding and running services from my house</li>
                <li>Dealing with different types of partitions on Windows</li>
            </ul>
        </p>
    </div>


    <div class="box">
        <h1 class="box-title">Programming experience</h1>
        <p class="box-text">
            <ul>
                <li>Python (One year of experience, skilled, also have experience with MongoDB, integrating it using primarily the pymongo package)</li>
                <li>Very experienced with Github & Git itself (On linux servers & my local machine, have also played around with self hosted options like Gitea and Gitlab)</li>
                <li>Just getting started with HTML and CSS, this website is one of my first times coding a website (This is its first revision, its definitely not finished)</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Server Experience</h1>
        <p class="box-text">
            <ul>
                <li>UFW & Iptables Firewalls</li>
                <li>SSH Keys</li>
                <li>Linux Terminal</li>
                <li>Basic file navigation</li>
                <li>Server Monitoring</li>
                <li>SSH Programs (PuTTy & Terminus)</li>
                <li>SFTP Programs (Filezilla & WinSCP)</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Networking Experience / Knowledge</h1>
        <p class="box-text">
            <ul>
                <li>Routers/Modems</li>
                <li>IP Addresses (Public/Private)</li>
                <li>Ports</li>
                <li>Firewalls</li>
                <li>Domain Name System</li>
                <li>SSL (HTTPs)</li>
                <li>VPNs</li>
                <li>Proxies</li>
                <li>Cloudflare tunneling and Ngrok</li>
                <li>Port Forwarding</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Hosting Provider Experience</h1>
        <p class="box-text">
            <ul>
                <li>BinaryLane (Expert, Running all my stuff on here)</li>
                <li>Google Cloud Platform (Beginner)</li>
                <li>DigitalOcean (Beginner)</li>
                <li>Vultr (Amateur)</li>
                <li>Sparked Host (Expert)</li>
                <li>Oracle Cloud (Amateur)</li>
                <li>OVHCloud (Amateur)</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Software Experience (Linux Servers)</h1>
        <p class="box-text">
            <ul>
                <li>Docker (Very skilled, deployed it on servers, deployed my own stuff using docker)</li>
                <li>Nginx (Skilled, used it to deploy reverse proxies on my own servers)</li>
                <li>PM2 (Extremely skilled)</li>
                <li>Docker Compose (Skilled, deployed my own stuff using it on my local machine and in the Cloud)</li>
            </ul>
        </p>
    </div>

    <div class="box">
        <h1 class="box-title">Web Hosting Software Experience</h1>
        <p class="box-text">
            <ul>
                <li>cPanel (Skilled, used to use it for my own website until switching to hosting on my own vps server)</li>
            </ul>
        </p>
    </div>

    <div class="footer">
        <p>Made with ❤️ by Alecks</p>
    </div>

    <div class="gicus-box">
        <script src="https://giscus.app/client.js"
           data-repo="atomic2ds/a3d-website"
           data-repo-id="R_kgDOLlD3uQ"
           data-category="General"
           data-category-id="DIC_kwDOLlD3uc4CeRil"
           data-mapping="url"
           data-strict="1"
           data-reactions-enabled="1"
           data-emit-metadata="0"
           data-input-position="bottom"
           data-theme="dark_tritanopia"
           data-lang="en"
           crossorigin="anonymous"
           async>
        </script> 
       </div>  
</body>
</html>