<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta content="A3D Blog - {{ post.meta['title'] }}" property="og:title" />
    <meta content="{{ post.description }}" property="og:description" />
    <meta content="https://a3d.pro/post/{{ post.slug }}" property="og:url" />
    <meta content="#4C5770" data-react-helmet="true" name="theme-color" />
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="shortcut icon" href="{{ favicon }}">
    <title>Alecks - {{ post.meta['title'] }}</title>
</head>
<body style="background-color: #0A0C10;"></body>

    {{ navigation | safe }}

    <div class="title-text-box">
        <h1 class="blog-title">{{ post.meta['title'] }}</h1>
        <h1 class="blog-date">{{ post.meta['date'] }}</h1>
    </div>
    <div class="blog-box">
        <p class="blog-box-text">{{ post_body | safe }}</p>
    </div>

    <div class="blog-footer">
        <p>Made with ❤️ by Alecks</p>
    </div>

    <div class="gicus-box">
        <script src="https://giscus.app/client.js"
           data-repo="atomic2ds/a3d-website"
           data-repo-id="R_kgDOLlD3uQ"
           data-category="General"
           data-category-id="DIC_kwDOLlD3uc4CeRil"
           data-mapping="url"
           data-strict="1"
           data-reactions-enabled="1"
           data-emit-metadata="0"
           data-input-position="bottom"
           data-theme="dark_tritanopia"
           data-lang="en"
           crossorigin="anonymous"
           async>
        </script> 
       </div>  
</body>
</html>