<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="shortcut icon" href="{{ favicon }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="https://umami.alecks.dev/script.js" data-website-id="{{ tracking_id }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

    <meta content="Alecks (Atomic2ds)" property="og:title" />
    <meta content="Self-taught developer and professional dumbass. Find my projects, blog and some information about me on this page." property="og:description" />
    <meta content="https://alecks.dev" property="og:url" />
    <meta content="#11141C" data-react-helmet="true" name="theme-color" />

    <title>Alecks - Home</title>
</head>
<body style="background-color: #0A0C10;"></body>
<body>

    {{ navigation | safe }}

    <div class="card-box">
        <div class="content">
            <img src="https://assets.alecks.dev/branding/pfp2.jpg" alt="my profile picture" class="circular-image">
            <h1 class="card-title">Welcome to my website 👋</h1>
            <p class="card-text">I'm a 14 year old self-taught developer located in Australia who is skilled in python and is just getting started with html and css. I primarily just enjoy making my own stuff, I don't do stuff for money or to look good in front of others.</p>

            <p class="card-text">You can find information about me and contact information on my about page, there I talk about my skills, experience and some fun facts. I would be happy to join any sort of developer team, send me an email if your interested!</p>
            
            <p class="card-text">You can also find more about me on the blog page where I just chat about stuff the stuff I do without any sort of format. For example I talk about the software stack I use, the best hosting providers and much more.</p>

        </div>
    </div>


    <div class="footer">
      <p>Made with ❤️ by Alecks</p>
    </div>

</body>
</html>